<div class="border border-gray-400 rounded p-4">
  <div class="text-gray-900 font-bold text-xl mb-2 flex">
    <div>{{ company.symbol }}</div>
    <div class="ml-2 text-green-700">7</div>
  </div>
  <div class="text-green-700 text-md">Graham Num/Price: 25.47/24.69 (1.03)</div>
  <div class="text-green-700 text-md">Bvps/Price: 15.34/24.69 (0.62)</div>
  <div class="text-green-700 text-md">Dividend Yield/Payout Ratio: 7.64%</div>

  <ul class="list-disc list-inside mt-2">
    <li class="text-green-700">Cheap Assets. 1.37B ≥ 868.97M (≈ 1.58: 1)</li>
    <li class="text-red-700">EPS Growth of 24.26% ≥ 15%</li>
    <li>No EPS Deficit in last 5 years</li>
    <li>Current Ratio of 6.62 ≥ 2.0</li>
    <li>P/E Ratio of 13.28 ≤ 15.0</li>
    <li>$967.48M of $700M sales (≈ 1.38: 1)</li>
    <li>Dividend steady/incr. last 5 years</li>
    <ul>
</div>
