<div class="card border border-gray-400 rounded p-4">
  <div class="text-gray-900 font-bold text-xl mb-2 flex">
    <div>{{ company.symbol }} - {{ evaluation.sector }}</div>
    <div class="ml-3
                {% if evaluation.score == 5 %}
                text-gray-500
                {% elif evaluation.score == 6 %}
                text-green-700
                {% elif evaluation.score == 7 %}
                text-green-500
                {% else %}
                text-red-500
                {% endif %}">
      {{ evaluation.score }}
    </div>
    <div class="ml-auto cursor-pointer" hx-confirm="Are you sure?" hx-target="closest .card" hx-swap="outerHTML" hx-delete="/dashboard" hx-vals='{"target":{{ company.id }}}'>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
</svg>
    </div>
  </div>

  {% set ratio = (evaluation.graham_num / evaluation.price)|round(2,'floor') %}
  <div class="text-md
              {% if ratio > 1.00 %}
              text-green-500 
              {% else %}
              text-red-500 
              {% endif %}">
    Graham Num / Price: {{ evaluation.graham_num }}/{{ evaluation.price }} ({{ ratio }})
  </div>

  {% set ratio = (evaluation.bvps / evaluation.price)|round(2,'floor') %}
  <div class="text-md
              {% if ratio > 1.00 %}
              text-green-500 
              {% else %}
              text-red-500 
              {% endif %}">
    BVPS / Price: {{ evaluation.bvps }}/{{ evaluation.price }} ({{ ratio }})
  </div>

  {% if evaluation.div_yield and evaluation.payout_ratio  %}
  {% set ratio = (evaluation.div_yield / evaluation.payout_ratio)|round(2,'floor') %}
  <div class="text-md
               {% if ratio > 1.00 %}
               text-green-500 
               {% else %}
               text-red-500 
               {% endif %}">
    Dividend Yield / Payout Ratio: {{ evaluation.div_yield }}/{{ evaluation.payout_ratio }} ({{ ratio }})
  </div>
  {% endif %}

  <ul class="list-disc list-inside mt-2">
  {% for x in evaluation.health_check() %}
  <li class="
             {% if '[/red]' in x %}
             text-red-500
             {% else %}
             text-green-500
             {% endif %}" >
             {{ 
             x.replace('[/red]','')
             .replace('[red]','')
             .replace('[/green]','')
             .replace('[green]','') }}
  </li>
  {% endfor %}
  </ul>
</div>
