<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            //Curved Line Chart
            google.charts.load('current', {'packages':['corechart', 'bar']});
            google.charts.setOnLoadCallback(drawChart);
            google.charts.setOnLoadCallback(drawBasic);
            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ['Date', 'Bvps/Price', 'Graham/Price'],
                    ['2017', 0.5, 1.0],
                    ['2018', 0.75, 1.5],
                    ['2019', 1.1,  1.2],
                    ['2020', 1.0, 1.0],
                    ['2021', 1.4, 0.8]
                ]);
                var options = {
                    title: 'Company health - ABC',
                    curveType: 'function',
                    legend: { position: 'bottom' }
                };
                var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
                chart.draw(data, options);
            }
            //Bar Chart
            function drawBasic() {
                var data = new google.visualization.DataTable();
                data.addColumn('timeofday', 'Time of Day');
                data.addColumn('number', 'Motivation Level');
                data.addRows([
                    [{v: [8, 0, 0], f: '8 am'}, 1],
                    [{v: [9, 0, 0], f: '9 am'}, 2],
                    [{v: [10, 0, 0], f:'10 am'}, 3],
                    [{v: [11, 0, 0], f: '11 am'}, 4],
                    [{v: [12, 0, 0], f: '12 pm'}, 5],
                    [{v: [13, 0, 0], f: '1 pm'}, 6],
                    [{v: [14, 0, 0], f: '2 pm'}, 7],
                    [{v: [15, 0, 0], f: '3 pm'}, 8],
                    [{v: [16, 0, 0], f: '4 pm'}, 9],
                    [{v: [17, 0, 0], f: '5 pm'}, 10],
                ]);
                var options = {
                    title: 'Motivation Level Throughout the Day',
                    hAxis: {
                        title: 'Time of Day',
                        format: 'h:mm a',
                        viewWindow: {
                        min: [7, 30, 0],
                        max: [17, 30, 0]
                        }
                    },
                    vAxis: {
                        title: 'Rating (scale of 1-10)'
                    }
                };
                var chart = new google.visualization.ColumnChart(
                document.getElementById('chart_div'));
                chart.draw(data, options);
            }
        </script>
    </head>
    <body>
        <div id="curve_chart" style="width: 60em; text-align: center; display: inline-block;"></div>
        <div id="chart_div" style="width: 60em; text-align: center; display: inline-block;"></div>
    </body>

</html>
